/* Стили для футера */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #121212;
    color: #fff;
    font-size: 14px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #3f51b5;
  }
  